body.light-theme {
    margin: 0;
    font-family: Arial, sans-serif; /* Default font family */
}

body.light-theme .selector {
    background-color: #ffffff; /* White background */
    background-image: linear-gradient(top, #ffffff, #f1f1f1); /* Gradient for modern look */
    border: 1px solid #dcdcdc; /* Lighter border color */
    color: #333; /* Darker text color for better readability */
    font-size: 14px;
    line-height: 24px;
    list-style: none;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 8px 12px; /* Adjusted padding */
    text-align: left;
    text-decoration: none;
    border-radius: 4px; /* Slightly rounded corners */
    width: 150px;
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s; /* Smooth transitions */

}

body.light-theme .selector:hover {
    background-color: #0e918daa; /* Light hover background */
    border-color: #c1c1c1; /* Darker border color on hover */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

body.light-theme .selector:focus {
    border-color: #9fb1c7; /* Focus border color */
    box-shadow: 0 0 0 2px rgba(24, 120, 240, 0.4); /* Focus box shadow */
}

body.light-theme .selector:disabled {
    background-color: #fff;
    border-color: #f3f3f3;
    color: #b8b8b8;
}

body.light-theme .main_container {
    height: fit-content;
    position: relative;
    padding: 24px;
    width: 410px;
}

body.light-theme .theme-switch-container {
    position: relative;
    left: 350px; /* Aligns to the right of the main container */
    top: 10px; /* Adjust based on the desired vertical alignment */
}

body.light-theme .unit_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 8px; /* Slightly rounded corners */
    margin-top: 20px;
    gap: 1rem;
}

body.light-theme .unit {
    border: 1px solid #eaeaea; /* Lighter border color */
    border-radius: 8px; /* Slightly rounded corners */
}

body.light-theme .unit input {
    font-size: 24px;
    text-align: center;
    border: none;
    outline: none;
    width: 100%;
    padding: 12px 0;
}

body.light-theme .unit select {
    font-size: 16px;
    margin: auto;
    width: 100%;
    display: block;
    text-align: center;
    padding: 8px;
}

body.light-theme .type_container select {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 8px;
}

body.light-theme .Tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
    width: 100%;
}

body.light-theme .tablinks {
    flex: 1;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-right: 1px solid #dcdcdc;
    cursor: pointer;
    background-color: transparent;
}

body.light-theme .tablinks:hover span {
    border-bottom: 1px solid #000;
}

body.light-theme .tablinks.selected {
    background-color: #e0e0e0; /* Selected tab background */
}

body.light-theme .viewAllButton {
    margin-top: 15px; /* Increased top margin */
    border-radius: 20px; /* Rounded button corners */
    padding: 10px 20px; /* Increased padding */
    background-color: #0e918c; /* New button color */
    color: #fff; /* Button text color */
    font-size: 16px; /* Font size */
    border: none; /* Removed border */
    cursor: pointer; /* Cursor on hover */
}

body.light-theme .viewAllButton:hover {
    background-color: #0b6c66;
}

/*                  */
/*    DARK THEME    */
/*                  */
/* DARKEST:  2E073F */
/* DARKER:   7A1CAC */
/* MEDIUM:   AD49E1 */
/* LIGHT:    EBD3F8 */

body.dark-theme {
    margin: 0;
    font-family: Arial, sans-serif; /* Default font family */
    background-color: #2E073F; /* dark background */
    color: #EBD3F8; /* Lighter text color for better readability */
    height:max-content;
}

body.dark-theme .selector {
    background-color: #2E073F; /* dark background */
    background-image: linear-gradient(top, #2E073F, #AD49E1); /* Gradient for modern look */
    border: 1px solid #AD49E1; /* Lighter border color */
    color: #EBD3F8; /* Lighter text color for better readability */
    font-size: 14px;
    line-height: 24px;
    list-style: none;
    margin: 0;
    outline: none;
    overflow: hidden;
    padding: 8px 12px; /* Adjusted padding */
    text-align: left;
    text-decoration: none;
    border-radius: 4px; /* Slightly rounded corners */
    width: 150px;
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s; /* Smooth transitions */

}

body.dark-theme .selector:hover {
    background-color: #7A1CAC; /* Light hover background */
    border-color: #EBD3F8; /* Darker border color on hover */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

body.dark-theme .selector:focus {
    border-color: #EBD3F8; /* Focus border color */
    box-shadow: 0 0 0 2px rgba(24, 120, 240, 0.4); /* Focus box shadow */
}

body.dark-theme .selector:disabled {
    background-color: #2E073F;
    border-color: #f3f3f3;
    color: #EBD3F8;
}

body.dark-theme .main_container {
    padding: 24px;
    width: 410px;
    height: fit-content;
    background-color: #2E073F;
}


body.dark-theme .unit_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
    gap: 1rem;
    border-radius: 8px; /* Slightly rounded corners */
}

body.dark-theme .unit {
    border: 1px solid #AD49E1; /* Lighter border color */
    border-radius: 8px; /* Slightly rounded corners */
}

body.dark-theme .unit input {
    background-color: #450b5e;
    color: #AD49E1;
    font-size: 24px;
    text-align: center;
    border: none;
    outline: none;
    width: 100%;
    padding: 12px 0;
}

body.dark-theme .unit input::placeholder {
    color: #AD49E1; /* Replace with your desired color */
}

body.dark-theme .unit select {
    font-size: 16px;
    margin: auto;
    width: 100%;
    display: block;
    text-align: center;
    padding: 8px;
    border-radius: 8px; /* Slightly rounded corners */
}

body.dark-theme .type_container select {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding: 8px;
    border-radius: 8px; /* Slightly rounded corners */
}

body.dark-theme .Tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7A1CAC;
    margin-top: 0px;
    width: 100%;
}

body.dark-theme .tablinks {
    flex: 1;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    background-color: #7A1CAC;
    border-right: 1px solid #7A1CAC;
    color: #EBD3F8;
    cursor: pointer;
    background-color: transparent;
}

body.dark-theme .tablinks:hover span {
    border-bottom: 1px solid #EBD3F8;
}

body.dark-theme .tablinks.selected {
    background-color: #2E073F; /* Selected tab background */
}

body.dark-theme .viewAllButton {
    margin-top: 15px; /* Increased top margin */
    border-radius: 20px; /* Rounded button corners */
    padding: 10px 20px; /* Increased padding */
    background-color: #7A1CAC; /* New button color */
    border: none;
    color: #EBD3F8; /* Button text color */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Cursor on hover */
}

body.dark-theme .viewAllButton:hover {
    background-color: #AD49E1;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #AD49E1;
}

/* Slider knob color when checked */
input:checked + .slider:before {
    background-color: #AD49E1;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input:focus + .slider {
    box-shadow: 0 0 1px #AD49E1;
}

input:checked + .slider:before {
    background-color: #2E073F;
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}